.header {
  width: 86.6%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: clamp(16px, 1.66656vw, 64px);

  &__buttons {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
