.input {
  width: 100%;
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  border: none;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  padding-left: clamp(8px, 0.83328vw, 32px);
  @apply text-gray-600;
  transition: 0.3s all;
  &:focus {
    color: #0b1887;
    @apply text-custom-blue;
    border: 2px solid #0b1887;
  }
}

@media screen and (max-width: 640px) {
  .input {
    width: 100%;
    height: clamp(25px, 11.681999999999999vw, 100px);
    padding-left: clamp(8px, 3.73824vw, 32px);
  }
}
