// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$blue: #004371;
$light_blue: #34befa;
$custom-black: #262626;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(20px, 2.0832vw, 80px);
  font-family: "Nunito", sans-serif;
  color: $custom-black;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 86.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @apply mt-16;

  &--row {
    width: 86.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    @apply mt-32;
    @apply mb-32;
  }
}

.illustration {
  width: clamp(275px, 28.644000000000002vw, 1100px);
}

.big-button {
  width: clamp(110px, 11.457600000000001vw, 440px);
  height: clamp(25px, 2.604vw, 100px) !important;
  background: $blue;
  border-radius: 1px !important;
  @apply bg-custom-blue;
}

.registration-button {
  width: 70%;
  height: clamp(27.5px, 2.8644000000000003vw, 110px) !important;
}

.active {
  background: $light_blue !important;
  &:hover {
    color: $custom-black !important;
  }
}

.inactive {
  @apply bg-gray-200;
  border: none;
  box-shadow: none;
  cursor: default;
  &:hover {
    color: $custom-black !important;
  }
}

.big-button-outline {
  width: clamp(110px, 11.457600000000001vw, 440px);
  height: clamp(25px, 2.604vw, 100px) !important;
  border-radius: 1px !important;
  border: 2px solid $blue;
}
