.logo-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;

  &__logo {
    width: clamp(30px, 3.1248vw, 120px);
    height: clamp(30px, 3.1248vw, 120px);
  }

  &__text {
    font-family: "Nunito", sans-serif;
    font-size: clamp(12.5px, 1.302vw, 50px);
    margin-left: clamp(8px, 0.83328vw, 32px);
    font-weight: bold;
    @apply text-custom-blue;
  }
}

@media screen and (max-width: 448px) {
  .logo-container {
    &__logo {
      width: clamp(25px, 11.681999999999999vw, 100px);
      height: clamp(25px, 11.681999999999999vw, 100px);
    }

    &__text {
      display: none;
    }
  }
}
